/* rouble */
@font-face {
	font-family: 'ALSRubl-Verdana';
	src: url('../fonts/rub-verdana/alsrubl-verdana-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* icons kwork */
@font-face {
	font-family: 'kwork-set';
	src: url('../fonts/kwork-set/kwork-set.woff?7nbv') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* icons fontawesome 4.4.0 */
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff');
	font-weight: normal;
	font-style: normal
}

/* cyrillic-ext */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensans/cyrillic-ext_300.woff2') format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensans/cyrillic_300.woff2') format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensans/latin-ext_300.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensans/latin_300.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/opensans/cyrillic-ext_400.woff2') format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/opensans/cyrillic_400.woff2') format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/opensans/latin-ext_400.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/opensans/latin_400.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../fonts/opensans/cyrillic-ext_600.woff2') format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../fonts/opensans/cyrillic_600.woff2') format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../fonts/opensans/latin-ext_600.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../fonts/opensans/latin_600.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensans/cyrillic-ext_700.woff2') format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensans/cyrillic_700.woff2') format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans/latin-ext_700.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans/latin_700.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/helvetica_neue/HelveticaNeueCyr-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/helvetica_neue/HelveticaNeueCyr-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

.rowRender{
	width: 681px;
	left: 260px;
	top: 2752px;
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	box-sizing: border-box;
	border-radius: 8px;
	vertical-align: text-top;
	margin-top: 16px!important;
}
.rowRender:first-child{
	margin-top: 0px!important;
}
.rowRenderHeight{
	height: 652px;
}
.rowRenderButtonDiv{
	background: url('/images/Ellipse 3.png')no-repeat;
	border-radius: 50%;
	background-position: center;
	left: 0%;
	right: 0%;
	top: 100%;
	bottom: -100%;
	opacity: 1;
	box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
	margin-bottom: 24px;
	margin-right: 32px;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.rowRenderButton{
	background: url('/images/Vector.png')no-repeat;
	background-position: center;
	Width: 15px;
	Height: 8px;
	Top: 20px;
	Left: 9px;
}
.rowRenderButtonTop{
	transform: matrix(1, 0, 0, -1, 0, 0);
}
.status-success{
	position: absolute;
	width: 53px;
	left: 25px;
	top: 20.83%;
	bottom: 20.83%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 14px;
	text-align: right;
	color: #009900;
}
.status-block-col{
	height: 24px;  left: 0px;    right: 0px;    top: 0px; background: #e6fae6;border-radius: 10px 0% 0% 10px;
}
.workName{
	width: 185px;
	height: 27px;
	left: 96px;
	top: 3px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	color: #000000;

}
.user-status-block{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
}
.push-message-name{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 14px;
	height: 24px;
	cursor: pointer;
	color: #FFFFFF;
}
.push-message-block{
	width: 148px;
	right: 0px;
	top: 0%;
	bottom: 0%;
	background: #689FD9;
	border-radius: 24px;margin-top: 8px;
}
.avatar-img{
	width: 72px;height: 72px;border-radius: 50%;
}
.avatar-img-block{
	width: 72px; height: 72px;  border-radius: 50%;max-width: 72px!important;
}
.indicator-user-status{
	margin-left: 4px;
	width: 6px;
	height: 6px;
	background: #00C900;
	border-radius: 50%;
}
