.text_message .message-head_wrap {
	height: 30px;
}

.kwork-image__inner.rounded, .icon, .ico-question, .order-info * {
	box-sizing: content-box;
}

#tracks-wrapper .js-message-body {
	white-space: pre-wrap;
}

.mb-5 {
	margin-bottom: -5px !important;
}

#tips-another-sum {
	box-sizing: content-box;
}

.popup-mesage-edit {
	.load-file__list {
		.file-item__name {
			box-sizing: content-box;
		}
	}
}
