.button {
	display: inline-block;
	font-size: 12px;
	line-height: 24px;
	padding: 4px  14px;
	border-radius: 6px;
	border: 1px solid #c7c7c7;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	
	&_lg {
		font-size: 13px;
		padding-top: 9px;	
		padding-bottom: 9px;
	}
	
	&_blue {
		background: #2b9dfe;
		border-color: #2b9dfe;
		color: #fff;
	}
	
	&_green {
		background: #8bcf47;
		border-color: #8bcf47;
		color: #fff;
	}
}