.stage-inprogress-confirm {

	@media (min-width: 768px) {
		.modal-dialog {
			max-width: 600px;
		}
	}

	.modal-content {
		overflow: hidden;
	}

	.popup-msg {
		margin-bottom: 10px;
		position: relative;

		.icon {
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		.popup-text {
			font-weight: bold;
			margin-left: 40px;
		}
	}

	.modal-title {
		padding-right: 30px;
	}

	.track-stages {
		margin-bottom: 10px;
	}

	.track-stage {

		@media (max-width: 767px) {
			display: flex;
		}

		&__title {
			@media (max-width: 767px) {
				width: calc(100% - 25px - 100px - 25px - 45px);
			}
		}

		&__status-price {
			@media (max-width: 767px) {
				float: left;
			}
		}

		&__status-order {
			width: 40px;

			@media (max-width: 767px) {
				align-self: center;
			}
		}
	}

	&__total {
		font-weight: 700;
		text-align: right;
		margin-bottom: 10px;
	}

	&__group-title {
		font-weight: 700;
		margin-top: 15px;
	}

	.popup__button {
		@media (min-width: 768px) {
			width: auto !important;
			min-width: 165px;
		}
	}
}
