.projects-filter {
	font-size: 12.5px;
	position: relative;

	&__title {
		line-height: 18px;
		font-weight: 700;
		margin-bottom: 5px;
	}

	&__item {
		margin: 15px 0;

		.wants-filter__link + & {
			margin-top: 10px;
		}

		.none-style {
			width: 100%;
		}

		&--select {
			border-bottom: 1px solid #ebebeb;
			padding-bottom: 15px;

			@media (max-width: 900px) {
				display: flex;
				flex-wrap: wrap;
			}
		}

		.filter-input {
			width: 100%;
			height: 28px;
			padding: 3px 24px 3px 6px;
			border: 0;
			-webkit-box-shadow: inset 0 0 0 1px #d3d3d3;
			-moz-box-shadow: inset 0 0 0 1px #d3d3d3;
			box-shadow: inset 0 0 0 1px #d3d3d3;
			-webkit-appearance: none;
			border-radius: 0;

			&:focus {
				outline: 0;
				-webkit-box-shadow: inset 0 0 0 2px #82b647;
				-moz-box-shadow: inset 0 0 0 2px #82b647;
				box-shadow: inset 0 0 0 2px #82b647;
			}
		}

		select {
			font-size: 15px;
			line-height: 24px;
			width: 100%;
		}
	}

	&__select {
		@media (max-width: 500px) {
			flex: 1 100%;
		}

		@media (min-width: 500px) and (max-width: 900px) {
			flex: 1;

			& + & {
				margin-top: 0 !important;
				margin-left: 10px;
			}
		}
		
		& + & {
			margin-top: 10px;
		}

		&-styled {
			height: 32px;
			font: 400 12.5px 'Open Sans', Helvetica, sans-serif !important;
			border: 1px solid #A5A5A5;
			border-radius: 2px;
			background: #fff;
		}
	}

	&__input {
		position: relative;
		flex: 1;

		@media (min-width: 900px) {
			max-width: 94px;
		}

		& + & {
			margin-left: 10px;
		}

		&-clear {
			position: absolute;
			width: 26px;
			height: 100%;
			cursor: pointer;
			pointer-events: auto;
			opacity: .3;
			transition: opacity .1s ease-out;
			top: 0;
			right: 0;
			background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10'%3E%3Cpolygon points='10,0.7 9.3,0 5,4.3 0.7,0 0,0.7 4.3,5 0,9.3 0.7,10 5,5.7 9.3,10 10,9.3 5.7,5'/%3E%3C/svg%3E") center center no-repeat;

			&:hover {
				opacity: .8;
			}
		}
	}

	&__clear {
		font-size: 12px;
		margin: 5px 0;
		display: block;
		text-decoration: underline;
	}

	&__radio {
		input[type="radio"]:checked + .radio_style {
			font-weight: bold;
		}

		width: 100%;
		display: inline-block;
		line-height: 16px;
		color: #000;
		transition: color 0.1s linear;
		cursor: pointer;

		&:hover {
			color: #ffa800;
		}
	}

	&__my-link {
		font-size: 12px;
		margin-top: 5px;
	}

	&__error {
		color: #ef683f;
		margin-top: 4px;
		font-size: 12.5px;
		line-height: 18px;
	}

	.chosen {
		&-container {
			float: none;
		}

		&-single {
			font-size: 12.5px;
		}
		
		&-drop {
			font-size: 12.5px;
		}
	}

	&__list {
		padding: 0;
		list-style: none;

		li {
			input, label {
				cursor: pointer;
			}

			input {
				margin: 2px 5px 0 0;
				float: left;

				&:checked ~ label {
					font-weight: 700;
				}
			}
		}

		& > li + li {
			margin-top: 3px;
		}
	}

	&__favourite-category-list {
		margin: 5px 0 0 0;
		transition: max-height 0.5s ease-in-out;
		max-height: 1000px;
		overflow: hidden;

		&--hidden {
			max-height: 0;
		}
	}

	&__favourite-category-more {
		font-size: 12px;
		text-decoration: underline;
		color: #457edb;
		cursor: pointer;
	}

	.filter-counter {
		color: #545353;
		margin-left: 1px;
	}

	[data-count="0"],
	[data-total-count="0"] {
		display: none;
	}
}